@import './normalize.css';
@import './fonts.css';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  background: none;
  border: none;
}

input:focus {
  outline: none;
}
